<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study html</title>
    <style>
        .types {
            color: fuchsia;
            font-family: GothicE;
            /*background: bisque;*/
        }
    </style>
</head>
<body>
<h1>
    учиться учиться и еще раз учиться!!!
</h1>
<h6>
    Hello world!!!
</h6>
<div class="types">
<p>
    можно что нибудь учить <br>
    и знать как использовать
</p>
<p>
    и что нибудь изучать, каждый раз новое. и все получиться
</p>
</div>
<p>
    <a href="https://job4j.ru">
        Java
    </a>
    - the best language
</p>
<p>
    <a href="https://job4j.ru">
        <img src="Screenshot_3.png" alt="Guru" width="100">
    </a>
       -   the   best guru for java language
</p>
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>age</th>
        <th>sex</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Serg</td>
        <td>45</td>
        <td>male</td>
    </tr>
    <tr>
        <td>Mary</td>
        <td>40</td>
        <td>female</td>
    </tr>
    <tr>
        <td>Darya</td>
        <td>15</td>
        <td>female</td>
    </tr>
    </tbody>
</table>
</body>
</html>